@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Email Confirmed!</h1>

<p>Thank you for completing the sign up process to make a registered account with us,
    you are now able to sign in with the credentials that you signed up with.</p>